@charset "utf-8";
/* CSS Document */

svg {
	position: absolute;
}


/* Link styling */

a:link, a:visited {
    color: #bcbddc;
}

a:hover {
    color: #756bb1;
}

::selection {
    background-color: #fca18c; 
    color: #fff;
}
::-moz-selection {
    background-color: #fca18c; 
    color: #fff;
}

/* MAIN PAGE ELEMENTS*/ 
body {
	background-image: url(gray_sand.png);
	font-family: 'Roboto Slab', serif;
}

.pageTitle {
	font-size: 32px;
	color:#f7eb3e;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/* SELECTED VARIABLE DESCRIPTION */ 

.descriptionDiv {
	height: 500px;
	padding-top: 20px;
	position: absolute;
}

.descriptionTitle {
	margin-top: 150px;
	width: 265px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight: normal; 
	color:#f7eb3e;
	position: absolute;
}

.description {
	margin-top: 60px;
	font-family: 'Roboto Slab', serif;
	color:#f7eb3e;
	word-wrap: break-word;
	font-size:16px;
	color: #eee;
	line-height: 13px;
	/*position: absolute;*/
}

/* MAP + MAP ELEMENTS */ 
.map {
	margin-left: 20%;	
	/*margin-left: 300px;*/
	position:absolute;
}

.countries {
	fill: #ccc;
	stroke: #fff;
	stroke-width:0.2px;
}

.gratBackground {
	fill: #fff;
}

.gratLines {
	stroke: #94d9e3;
	fill: rgba(0,0,0,0);
	stroke-width: 0.5px;
}

/* CHART + CHART ELEMENTS */
.chart {
	background-color: #fff;
	border: thick solid #fff;
	/*margin-left: 200px;*/
	margin-top: 480px;
	position: absolute;
}

.chartTitle {
	color:black;
	margin-top:470px;
	color:#f7eb3e;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	position:absolute;
}

.chartLabels {
    color: #f7eb3e;
    font-family: "Roboto Slab",serif;
    line-height: 160%;
    margin-left: 155px;
    margin-top: 453px;
    position: absolute;
    text-align: right;
    width: 155px;
    font-size:16px;
}

/* INFORMATION LABEL */ 

.labelName {
	font-weight: bold;
}

.infoLabel {
	position: absolute;
	width: 180px;
	height: auto;
	background-color: rgba(51,51,51,.85);
	color:#f7eb3e;
	/*border: solid thin #fff;*/
	padding: 10px;
}

h3 {
	padding:0;
	color:#f7eb3e;
	font-weight: normal;
}

/* DROPDOWN MENU */
.dropdown {
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	position:absolute;
}

select {
	position:absolute;
	z-index:100;
	font-family: 'Roboto Slab', serif;
	width:auto;
	cursor:pointer;;
	margin-top:-15px;
	color: #54278f; 
}

option {
	width: auto;
}

/* PAGE DESCRIPTION AT BOTTOM OF PAGE */ 
.about {
	color: #f7eb3e;
	margin-top: 600px;
	margin-left:2%;
	margin-right:2%;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #ddd;
}
/*
.aboutTitle {
	color: #f7eb3e;
	margin-top: 700px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}*/

.aboutText {
	color: #eee;
	font-size: 16px;
}

.sources {
	font-size: 14px;
}