@charset "utf-8";
/* CSS Document */

svg {
	/*position: absolute;*/
}

body {
	background-image: url(gray_sand.png);
	font-family: 'Roboto Slab', serif;
}

.pageTitle {
	font-size: 32px;
	color:#f7eb3e;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.map {
	margin-left: 160px;	
	margin-top: 100px;
	position:absolute;
}

.countries {
	fill: #ccc;
	stroke: #fff;
	stroke-width:0.2px;
}

.gratBackground {
	fill: #fff;
}

.gratLines {
	stroke: #94d9e3;
	fill: rgba(0,0,0,0);
	stroke-width: 0.5px;
}

.chart {
	background-color: #fff;
	/*border: medium solid #999;*/
	margin-left: 20px;
	margin-top: 550px;
	margin-bottom: 50px;
	position:absolute;
	padding: 10px;
	padding-top: 30px;
}

.chartTitle {
	color:black;
}

.axis {
	stroke:black;
}

.labelName {
	font-weight: bold;
}

.infoLabel {
	position: absolute;
	width: 180px;
	height: auto;
	background-color: rgba(51,51,51,.85);
	color:#f7eb3e;
	/*border: solid thin #fff;*/
	padding: 10px;
}

h3 {
	padding:0;
	color:#f7eb3e;
	font-weight: normal;
}

.dropdown {
	margin-left: 600px;
	margin-top: -40px;
}

select {
	position:absolute;
	z-index:100;
	font-family: 'Roboto Slab', serif;
	width:auto;
	cursor:pointer;;
	margin-top:-15px;
}

option {
	width: auto;
}