@charset "utf-8";
/* CSS Document */

svg {
	position: absolute;
}

.map {
	margin-left: 100px;	
}

.countries {
	fill: #ccc;
	stroke: #fff;
	stroke-width:0.2px;
}

.gratBackground {
	fill: #05b6cd;
}

.gratLines {
	stroke: #a1f2fd;
	fill: rgba(0,0,0,0);
	stroke-width: 0.5px;
}

.chart {
	background-color: #fff;
	border: medium solid #999;
	margin-left: 200px;
	margin-top: 520px;
}

.infoLabel {
	position: absolute;
	width: 200px;
	height: 100px;
	color: #fff;
	background-color: #000;
	border: solid thin #fff;
	padding: 5px;
}

select {
	position:absolute;
	z-index:100;
}